*
.heading
{
    font-weight: 595;
    font-size: 90;
}
body
{
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-family: helvetica, black;
    font-weight: 590;
    color: black;
    font-size: 70;
    margin: 0px 120px;
}
.top
{
    margin-right: 150px;
    margin-left: 150px;
}
.box .form .sub
{
    padding: 10px 48px;
    background: #ffce3a;
    color: black;
    font-size: 55;
    border-radius: 150px;
    font-weight: 450;
    border: 2px solid black;
}
.btn
{
    padding: 5px 50px;
    background: #BB86FC;
}
.form .generate_question 
{
    padding: 10px 55px;
    background: #baaafa;
    color: black;
    font-size: 55;
    border-radius: 150px;
    font-weight: 450;
    border: 2px solid black;
}
.litmus
{
    color: #59d7f1
}
.provoking 
{
    color: #2351fc
}
.contribute 
{
    color: #e25546
}
.box .form .inputbox
{
    border-radius: 50px;
    border: none;
    font-size: 40;
    width: 600px;
    padding: 10px 40px;
    outline: none;
    background: rgb(243, 243, 243)
}
.box .form .inputbox::placeholder
{
    color: rgb(220, 220, 220);
    transition: color 0.4s ease;
}
.box .form .inputbox:focus::placeholder
{
    color: transparent;
}
.all
{
    font-size: 15;
    color: rgb(206, 206, 206);
    padding: 10px 30px;
    background: transparent;
    font-weight: 450;
    border: transparent;
    text-decoration: underline;
    font-size: 20;
}
.all_list {
    display: none; /* Initially hidden */
    margin-top: 20px;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    font-size: 20
  }
  
  .all_list.show {
    display: block; /* Show when the 'show' class is added */
  }
